.navbar{
	text-decoration:none;
	color:red;
    width: 80%;
    padding-top: 10px;
    color: black;
    display: fixed;
	}
header{
	margin-left: 30px;
	font-size: 30px;
	
	background-color: brown;
}

a{
	color: white;
	/*align-items: center;*/
	/*margin: 100px;*/
}

.rick{
	text-align:center;
}

#display{
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	align-items: center;
	justify-content: center;

}
#rock{
	margin-left: 900px;
}

.page{
	padding-top: 50px;
}